# Android / IntelliJ
*.iml
.gradle
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# Mac OS
.DS_Store

# Build folders
/build/
app/build/
/captures/
.externalNativeBuild/
.cxx/

# Local configuration
local.properties